* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif !important;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #f00;
}
  img {
    max-width: 100%;
    height: auto;
}
  .App {
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
}

  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    background-color: #f6f6f6;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
  }

  .nav-logo-container img {
    border-radius: 3px;
    width: 12rem;
    height: auto;
    margin-top: 12px;
    box-shadow: -12px 11px 7px 1px rgba(255, 131, 131, 0.596);
    border-bottom: 7px solid black;
  }

  .navbar-menu-container {
    display: none;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }
  .primary-button:hover {
    background-color: rgb(234, 234, 234);
  }
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
    filter: brightness(1);
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 700px;
  }

  .home-image-container {
    clip-path: circle(30% at 25%);
    transition: all .3s;
    animation: splashpizza 2s alternate infinite;
  }

  @keyframes splashpizza {
    from {
        transform: translateX(12px);
    }
    to {
        transform: translateY(40px);
    }
  }

  .home-image-container:hover {
    clip-path: circle(66% at left);
  }

  .home-image-container img {
    border-radius: 100%;
    object-fit: contain;
    box-shadow: -16px 20px 20px 13px #ff990060;
  }

.home-banner-container .home-bannerImage-container img {
    filter: hue-rotate(308deg);
    /* QUE ESTO SEA UN ARCOIRIS CON JAVASCRIPT */
}
  .home-image-section {
    max-width: 600px;
    flex: 1;
  }
  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: rgba(0, 0, 0, 0.863);
    /* line-height: 5rem; */
    max-width: 600px;
    margin: 10px 0;
    text-align: center;
  }
  .my-items-bill ul {
    background-color: #ff0000;
    color: #fff;
    text-align: left;
    font-size: 1.12em;
    padding: 10px;
    border-radius: 0 90% 0 0;
    opacity: 0.8;
    margin: 10px 0;
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
    text-align: center;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #f00;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16.5px auto;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #e40f0fa4;
  }
  .about-section-container {
    margin-top: 20rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-background-image-container {
    position: absolute;
    left: -150px;
    z-index: -2;
  }

  .about-background-image-container img {
    filter: hue-rotate(308deg);
  }

  .about-section-image-container {
    flex: 0.9;
    margin-right: 1rem;
  }
  .about-section-text-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .primary-subheading {
    font-weight: 700;
    color: var(--color-primary);
    font-size: 1.15rem;
  }
  .about-buttons-container {
    margin-top: 2rem;
    display: flex;
  }
  .watch-video-button {
    margin-left: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: #484848;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .watch-video-button svg {
    font-size: 3rem;
    margin-right: 1rem;
  }
  .contact-page-wrapper h1 {
    max-width: 900px !important;
  }
  .contact-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6rem 0rem;
  }
  .contact-form-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
  }
  .contact-form-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
  .footer-wrapper {
    margin: 6rem 0rem;
    display: flex;
    margin-top: 10rem;
    border-top: 4px solid #f00;
    padding: 2em;
  }

  .author-web {
    text-align: center;
    padding: 12px;
    font-weight: bolder;
  }

  .footer-logo-container {
    max-width: 130px;
    margin: auto;
  }

  .footer-logo-container img {
    height: 6rem;
    border-radius: 3px;
  }

  .footer-icons {
    margin-top: 2.5rem;
  }
  .footer-icons svg {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    color: #585858;
  }
  /* .footer-section-one {
    border: 2px solid blue;
  } */
  .footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 255px;
  }
  .footer-section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
  }
  .testimonial-section-bottom {
    margin-top: 2rem;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    border-radius: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .testimonial-section-bottom {
    margin: 2rem auto;
  }
  .testimonial-section-bottom p {
    font-weight: 700;
    color: #515151;
    max-width: 500px;
    font-size: 1.1rem;
    margin: 2rem 0rem;
  }
  .testimonials-stars-container svg {
    margin: 0rem 0.25rem;
    font-size: 1.5rem;
    color: #fe9e0d;
  }
  .testimonial-section-bottom h2 {
    margin-top: 1.5rem;
  }
  .work-section-wrapper {
    margin-top: 15rem;
  }
  .work-section-top p {
    text-align: center;
    max-width: 600px !important;
  }
  .work-section-top h1 {
    max-width: 700px !important;
  }
  .work-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .work-section-info {
    width: 290px;
    min-height: 350px;
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    margin: 1rem 2rem;
  }
  .work-section-info h2 {
    margin: 1rem 0rem;
  }
  .work-section-bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .work-section-info p {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .footer-section-columns a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bolder;
    text-align: left;
    border-left: 4px solid #000000;
    padding-left: 5px;
    margin: 6px 0;
  }
  
  @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
    .home-bannerImage-container {
      max-width: 600px;
    }
  }
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .home-bannerImage-container {
      max-width: 450px;
    }
    .home-banner-container,
    .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .about-section-container {
      flex-direction: column;
    }
    .home-image-section,
    .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
    .primary-heading {
      text-align: center;
      max-width: 90%;
    }
    .primary-text {
      text-align: center;
      max-width: 80%;
      margin: 20px auto;
    }
    .home-text-section,
    .about-section-text-container {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
    .about-section-container {
      margin-top: 5rem !important;
    }
    .about-buttons-container {
      justify-content: center;
      flex-direction: column;
    }
    .primary-subheading {
      text-align: center;
    }
    .watch-video-button {
      margin-left: 0rem !important;
      margin-top: 1rem;
      font-size: 1rem !important;
    }
    .watch-video-button svg {
      margin-right: 0.5rem !important;
    }
    .about-section-image-container {
      margin-right: 0rem !important;
    }
    .work-section-wrapper {
      margin-top: 5rem !important;
    }
    .work-section-bottom {
      margin-top: 1rem !important;
    }
    .contact-form-container {
      padding: 0.5rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem !important;
    }
    .contact-form-container input {
      font-size: 1rem !important;
      max-width: 100%;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.8rem !important;
      text-align: center;
    }
    .footer-wrapper {
      flex-direction: column;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
    .App {
      max-width: 95vw;
    }

    /* PARA EL HEADER */

    .home-image-container {
      clip-path: none;
    }

    .home-image-container img {
      box-shadow: 4px 4px 20px 13px #adadad60;
    }

    @keyframes splashpizza {
      from {
        transform: translateY(20px);
      }
    }

    .footer-logo-container img {
      width: 20rem;
      height: auto;
      border-radius: 5px;
  }

  .footer-logo-container {
    max-width: none;
    margin: none;
  }

  .author-web {
    background-color: #ff0000;
    color: #f6f6f6;
    border-radius: 100% 0 0 0;
  }

  .author-web p {
    text-align: right;
    font-size: 13px;
    line-height: 1.5rem;
  }
}
  @media (max-width: 600px) {
    .home-bannerImage-container,
    .about-background-image-container {
      display: none;
    }
  }